$font-default: 'Ubuntu', sans-serif;

$bg-color-primary: #f2efe6;
$bg-color-primary-variant: #fff;
$bg-color-secondary-dark: #163a24;
$bg-color-secondary-light: #1a8e37;
$bg-color-tertiary-dark: #8a0000;
$bg-color-tertiary-light: #ff4747;
$bg-color-quaternary: #ebb61a;
$bg-color-quinary: #32ada8;
$bg-color-senary: #53b272;

$color-primary-dark: #163a24;
$color-primary-light: #1a8e37;
$color-secondary: #f2efe6;
$color-secondary-variant: #fff;
$color-tertiary-dark: #8a0000;
$color-tertiary-light: #ff4747;
$color-quaternary: #ebb61a;
$color-quaternary-variant: #daff1f;
$color-quaternary-gradient: #e4c159;
$color-quinary: #000;

$box-shadow-board: #97b39e;

$menu-size: 80px;