@use '../utilities/variables' as *;

.info {
  
  &__container {
    margin: 20px auto 0;
    max-width: 240px;

    &--pitch {
      max-width: 200px;
    }
  }

  &__image {
    border-radius: 25%;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

@media (orientation: landscape) {
  
  .info {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__text {
      flex-basis: 70%;
      margin-right: 20px;
    }

    &__container {
      margin: 0;
    }
  }
}

@media (min-width: 1024px) {
  
  .info {

    &__container {
      max-width: 260px;

      &--pitch {
        max-width: 240px;
      }
    }
  }
}